/* alignment sudoku board in the middle*/
.alignment{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
}

#board{
    
    width: 270px;
    height: 270px;
    background-color: rgb(207, 207, 207);
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    
}
/* make adjustable for screen*/
.section{
    width: 90px;
    height: 90px;
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}
.cell{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px black solid;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;;
}
/* #console{
    width: 270px;
    height: 270px;
    background-color: rgb(106, 207, 207);
   
} */

#state{
    width: 270px;
    height: 40px;
    background-color: azure;
    display:grid;
    grid-template-columns: 40px 130px 60px;
    
}
#mistakes{
    display: inline;
}
/* #timer{
    grid-column-start: 0;
    grid-column-end: 1;

} */


#controlPanel{
    width: 270px;
    height: 45px;
    background-color: rgb(27, 117, 117);
    display:grid;
    grid-template-columns: repeat(4, 65px);
}

#gameover{
    
    width: 270px;
    height: 270px;
    background-color: rgb(203, 38, 38);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.numbers{
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 22px;
    display: inline-block;
}
.highlight{
    background-color: aqua !important;
}
.wrongAnswer{
    background-color: red !important;
}