/* alignment sudoku board in the middle*/
.alignment{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}

#board{
    
    width: 270px;
    height: 270px;
    background-color: rgb(207, 207, 207);
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    
}
/* make adjustable for screen*/
.section{
    width: 90px;
    height: 90px;
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}
.cell{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px black solid;
}