#sudoku-grid{
    display: grid;
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(9, 30px);
}
/* make adjustable for screen*/

.alignment{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.section{
    width: 90px;
    height: 90px;
    border: 1px black solid;
    
}
#div1{
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 3;
    background-color: blue;
}
#div2{
    grid-column-start: 4;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 3;
    background-color: blue;
}
#div3{
    grid-column-start: 7;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 3;
    background-color: blue;
}
#div4{
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end: span 3;
    background-color: blue;
}
#div5{
    grid-column-start: 4;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end: span 3;
    background-color: blue;
}
#div6{
    grid-column-start: 7;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end: span 3;
    background-color: blue;
}
#div7{
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 7;
    grid-row-end: span 3;
    background-color: blue;
}
#div8{
    grid-column-start: 4;
    grid-column-end: span 3;
    grid-row-start: 7;
    grid-row-end: span 3;
    background-color: blue;
}
#div9{
    grid-column-start: 7;
    grid-column-end: span 3;
    grid-row-start: 7;
    grid-row-end: span 3;
    background-color: blue;
}