<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Main page</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <container class="alignment">
      <div id="state">
        <div> level </div>
        <div id="timer"> time</div>
        <div id="mistakes"></div>
       </div>
      <div id="board"> </div> 
      <div id = "numbersDiv">
        <div class= "numbers"> 1 </div>
        <div class= "numbers"> 2 </div>
        <div class= "numbers"> 3 </div>
        <div class= "numbers"> 4 </div>
        <div class= "numbers"> 5 </div>
        <div class= "numbers"> 6 </div>
        <div class= "numbers"> 7 </div>
        <div class= "numbers"> 8 </div>
        <div class= "numbers"> 9 </div>
      </div>
      <div id="controlPanel">
        <div> notes </div>
        <div> erase </div>
        <div> <img id='undoButton' src="/images/reset1.png"> </div>
        <div> <img id='helpButton' src="/images/help.png"> </div>

      </div>
      <!-- <div id="console"> 
        
        <div id="numpadDiv">
          <div id="numpad">
            <table>
              <tr> 
                <td class="numbers"> 1</td>
                <td class="numbers"> 2</td>
                <td class="numbers"> 3</td>
              </tr>
              <tr> 
                <td class="numbers"> 4</td>
                <td class="numbers"> 5</td>
                <td class="numbers"> 6</td>
              </tr>
              <tr> 
                <td class="numbers"> 7</td>
                <td class="numbers"> 8</td>
                <td class="numbers"> 9</td>
              </tr>



            </table>
          </div>
        </div>
        
      </div> -->
    </container>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> 
    <script src="index.js"></script>
</body>
</html>