/* alignment sudoku board in the middle*/
body{
    color:#424874;
}
.alignment{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
}
/*#F4EEFF #DCD6F7 #A6B1E1 #424874 #FF6969 #94a3e8  */
#board{
    
    width: 279px;
    height: 279px;
    justify-content: center;
    align-items: center;
    background-color: #A6B1E1;
    border-radius: 3px;
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    
}
/* make adjustable for screen*/
.section{
    width: 90px;
    height: 90px;
    border: 1px #424874 solid;
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    margin: 0.5px;
    margin-top: 0.25px;
}
.cell{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px #424874 solid;
    border-radius: 6px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;;
}
/* #console{
    width: 270px;
    height: 270px;
    background-color: rgb(106, 207, 207);
   
} */

#state{
    width: 270px;
    height: 40px;
    background-color: azure;
    display:grid;
    grid-template-columns: 80px 60px 130px;
    
}

#controlPanel{
    width: 280px;
    height: 45px;
    background-color: #dcd6f7;
    display:grid;
    grid-template-columns: repeat(4, 65px);
}
#undoButton{
    width: 45px;
    height: 45px;
}
#helpButton{
    width:35px;
    height: 35px;
}
#gameover{
    
    width: 270px;
    height: 270px;
    background-color: #FF6969;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.numbers{
    width: 29px;
    height: 50px;
    text-align: center;
    font-size: 32px;
    align-items: center;
    margin-top: 10px;
    display: inline-block;
}
.highlight{
    background-color: #DCD6F7 !important;
}
.wrongAnswer{
    background-color: #FF6969 !important;
    /* //change size */
}
.original{
    color:#72707f;
}
.mouseover{
    background-color: #94a3e8;
}